.controls {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.input {
  max-width: 377px;
}

.button_last {
  margin-left: 68px;
}

.scheme {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 48px;
  list-style: none;
}
